.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.bookmark-container {
    margin-top: 70px;
}

.bookmark-title {
    background: rgba(96, 71, 236, 0.1);
    border: 1px solid #6047EC;
    border-radius: 8px;
    padding-left: 20px;
    color: #6047EC;
    font-weight: 900;
}

.bookmarkBody {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 13px;
}