* {
    font-family: 'Exo 2', sans-serif;
}

.header {
    color: black;
    height: 80px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

.header div a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    text-align: center;
}

.nav-img {
    margin-top: 30px;
    width: 50px;
    border-radius: 250px;
    margin-left: 20px;
}

.header-section hr {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-section{
    margin-top: 20px;
}
