* {
    font-family: 'Exo 2', sans-serif;
}

.header {
    color: black;
    height: 80px;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: 900;
}

.header div a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

.nav-img {
    width: 70px;
    border-radius: 250px;
    margin-left: 20px;
}