.cards-container {
    margin-top: 50px;
    margin: 100px;
}
.single-container{
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.autor-img-section{
    display: flex;
}
.userImg{
    width: 20%;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 100%;
}
.card{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.author-info{
    font-weight: 900;
    font-size: 20px;
}
.markReadAncor{
    color: #6047EC;

}
.bookmark-section{
    display: flex;
    justify-content: end;
}
.hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    color: black;
    font-weight: bolder;
    font-size: 35px;
}
.bookmarkBtn{
    font-size: 25px;
}